/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:wght@300&family=Oswald:wght@300;400&family=Poppins:ital,wght@0,600;1,100;1,300&display=swap');
body{
    font-family: 'Open Sans', sans-serif;

}
.card-img-top{
    width: 200px;
    height: 300px;
}
.card-img-top:hover{
    /* scale: 1.25; */
    transform: scale(1.12);
    transition: 0.3s;
}
.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;


}
.p1{
    margin-top: 100px;
}
.p2{
    margin-top: 100px;
}
.p3{
    margin-top: 100px;
}
a{
    text-decoration: none;
}
.p4{
    margin-top: 110px;
}